<div class="appWrapper">
	<header class="page-header text-center">
		<h1>
			angular2-webpack-brief-starter
		</h1>
		<h4>
			Simple, straightforward, well-structured boilerplate for any modern Angular 2 project.
		</h4>
		<section>
			<a href="https://angular.io" target="_blank">
				<img class="yourPrefix-thumbnail" src="media/angular2.png" alt="...">
			</a>
			<a href="https://www.typescriptlang.org" target="_blank">
				<img class="yourPrefix-thumbnail" src="media/typescript.png" alt="...">
			</a>
			<a href="http://postcss.org" target="_blank">
				<img class="yourPrefix-thumbnail" src="media/postcss.png" alt="...">
			</a>
			<a href="https://webpack.js.org" target="_blank">
				<img class="yourPrefix-thumbnail" src="media/webpack.png" alt="...">
			</a>
		</section>
	</header>
	<nav class="navbar navbar-default col-md-2 col-md-offset-5">
		<ul class="nav navbar-nav">
			<li><a routerLink="/timer">timer</a></li>
			<li><a routerLink="/yourIP">your ip</a></li>
		</ul>
	</nav>
	<main class="yourPrefix-mainSection">
		<router-outlet></router-outlet>
	</main>
	<footer class="panel-footer text-center">
		Created by <a href="https://github.com/dominik791">Dominik Broj</a>
	</footer>
</div>
